propcache==0.3.2
commonmark==0.9.1
pydantic_core==2.33.2
numpy==2.3.2
sentry-sdk==2.35.2
GitPython==3.1.45
pip==25.2
jupyter_core==5.8.1
idna==3.10
beautifulsoup4==4.11.1
traitlets==5.14.3
scipy==1.16.1
aiohttp==3.12.15
protobuf==6.32.0
pytz==2025.2
nbformat==5.4.0
cssselect==1.3.0
typing-inspection==0.4.1
webencodings==0.5.1
lxml==6.0.1
urllib3==1.26.20
tinycss2==1.4.0
rich==12.4.4
entrypoints==0.4
h5py==3.14.0
platformdirs==4.4.0
defusedxml==0.7.1
openpyxl==3.1.5
attrs==25.3.0
readability-lxml==0.8.4.1
python-dotenv==1.1.1
torch==2.8.0
pyperclip==1.8.2
filelock==3.19.1
multidict==6.6.4
nbconvert==6.5.0
fsspec==2025.7.0
et_xmlfile==2.0.0
mujoco==3.3.5
jupyter_client==8.6.3
pandocfilters==1.5.1
tzdata==2025.2
tqdm==4.64.0
certifi==2025.8.3
rpds-py==0.27.1
PyOpenGL==3.1.10
yarl==1.20.1
tornado==6.5.2
sympy==1.14.0
jsonschema==4.25.1
xlrd==2.0.2
torchvision==0.23.0
referencing==0.36.2
absl-py==2.3.1
nbclient==0.10.2
gitdb==4.0.12
setuptools==80.9.0
networkx==3.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
soupsieve==2.8
chardet==5.2.0
torchaudio==2.8.0
typing_extensions==4.15.0
aiosignal==1.4.0
fastjsonschema==2.21.2
click==8.2.1
packaging==25.0
jsonschema-specifications==2025.4.1
requests==2.28.0
Jinja2==3.1.6
pydantic==2.11.7
pyzmq==27.0.2
Pygments==2.19.2
etils==1.13.0
aiohappyeyeballs==2.6.1
PyPDF2==2.10.0
lxml_html_clean==0.4.2
regex==2025.8.29
PyYAML==6.0.2
charset-normalizer==2.0.12
smmap==5.0.2
nltk==3.7
mistune==0.8.4
pillow==11.3.0
bleach==6.2.0
joblib==1.5.2
zipp==3.23.0
annotated-types==0.7.0
yt-dlp==2025.8.27
pandas==2.3.2
six==1.17.0
importlib_resources==6.5.2
wget==3.2
tabulate==0.9.0
glfw==2.9.0
frozenlist==1.7.0
tiktoken==0.11.0
wandb==0.21.3
MarkupSafe==3.0.2
